<section class="ceasar">
  <div>
    <label for="message">Mensagem:</label>
    <input type="text" id="message" [(ngModel)]="message" />
  </div>
  <div>
    <label for="shift">Deslocamento:</label>
    <input type="number" id="shift" [(ngModel)]="shift" />
  </div>

  <div class="cipher-buttons">
    <button (click)="cipher()">Cifre</button>
    <button (click)="decipher()">Decifre</button>
  </div>

  <div *ngIf="encryptedMessage">
    <h3>Mensagem Cifrada:</h3>
    <p>{{ encryptedMessage }}</p>
  </div>

  <div *ngIf="decryptedMessage">
    <h3>Mensagem Cifrada:</h3>
    <p>{{ decryptedMessage }}</p>
  </div>
</section>
