<p>
  Este software foi desenvolvido em sala de aula na Universidade Estadual do
  Norte Fluminense Darcy Ribeiro (UENF) com o intuito de ensinar sobre os
  fundamentos e conceitos da criptografia.
</p>

<p>
  A criptografia desempenha um papel crucial na proteção da informação,
  garantindo a confidencialidade e a integridade dos dados transmitidos e
  armazenados. Compreender os fundamentos da criptografia é essencial para
  qualquer pessoa interessada em segurança da informação.
</p>

<p>
  Este software proporciona uma abordagem didática e interativa. Explore os
  diferentes algoritmos e métodos de criptografia, compreenda como as chaves são
  utilizadas e descubra as aplicações modernas dessa área em constante evolução.
</p>

<div class="university">
  <p>Universidade Estadual do Norte Fluminense Darcy Ribeiro (UENF)</p>
</div>

<div class="copyright">
  <p>
    &copy; 2023 Matheus Dias e Prof. Ausberto S C Vera. Todos os direitos
    reservados.
  </p>
</div>
